%ul
  - phone_numbers.each do |phone|
    %li
      = phone.number
      = link_to('edit', edit_phone_number_path(phone))
      = link_to 'delete', phone_number_path(phone),     |
        :confirm => 'Are you sure?', :method => :delete |
